* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
/* --ESTILOS DE HEADER PAGINA */

.container-header {
    width: 100vw;
    height: 130px;
    background-color: rgb(0, 130, 130);
    position: relative;
    z-index: 10;
    display: flex;

}

.logo-abuela {
    width: 10%;
    background-image: url(/prueba_2/_resources/grandmother_cooking.png);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.texto-header {
    width: 65%;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 4em;
    text-align: center;
    line-height: 130px;
}

.busqueda-header {
    box-sizing: border-box;
    margin: auto 35px;
    width: 25%;
}

/* --ESTILOS DE PAGINA NAVEGADOR- */

p {
    font-size: 0.85em;
}
.encabezado {
    display: block;
    background-color: lightgray;
    width: auto;
    height: 120px;
    padding: 20px;
    font-size: 4em;
    text-align: center;
}

.menu-navegacion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
}

.menu-navegacion ul li {
    background-color: rgb(0, 130, 130);
    display: inline-block;
    color: white;
}

.menu-navegacion ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.menu-navegacion {
    background-color: rgb(0, 130, 130);
}

.menu-navegacion ul li a:hover {
    background-color: rgb(2, 197, 197);
    transform: scale(1.05);
}

/* --ESTILOS DE PAGINA BODY- */

.imagenes {
    width: 200px;
}
body {
    background-image: url(/prueba_2/_resources/food\ pattern.png);
    background-size: 200px;
}

.texto-de-dia {
    margin: 20px;
    padding-right: 20px;
    justify-content: left;
}

.receta-de-dia {
    height: 350px;
    width: 85%;
    margin: 20px auto;
    background-color: rgb(235, 235, 235);
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;

}

.img-del-dia img{
    width: 560px;
    border-radius: 10px;
}

.imagen-comida-1 {
    height: 500px;
    width: auto;
    background-color: blueviolet;
    background-image: url(/prueba_2/_resources/Comida-típica-de-Bangladesh.jpg);
    background-size: center;
    background-repeat: no-repeat;
    border-bottom: 40px solid  rgb(0, 130, 130);
    border-top: 40px solid  rgb(0, 130, 130);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
}

.seccion {
    display: flex;
    height: 400px;
}

.contenido-articulos {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: -20;
}

.receta {
    background-image: url(/_resources/madera.jpeg);
    border-radius: 5px;
    width: 220px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: -20;
}

.receta:hover {
    transform: scale(1.04);
}

.container-ganador {
    background-color: burlywood;
    height: 800px;
}

.receta-ganador {
    background-image: url(/prueba_2/_resources/tabla-cocina.png);
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(10px 10px 10px black);
}

/* --ESTILOS PIE DE PAGINA-- */

.pie-de-pagina {
    display: block;
    background-color: rgb(0, 130, 130);
    color: white;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
}

/* --ESTILOS DE PAGINA CONTACTO-- */

.container-contacto {
    display: block;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.container-contacto input {
    padding: 5px;
}

.tabla-cortar-contacto {
    background-image: url(/prueba_2/_resources/tabla-cocina.png);
    background-repeat: no-repeat;
    background-position-x: center;

    background-size: 650px;
    height: 500px;
    margin-top: 20px;
    filter: drop-shadow(10px 10px 10px black);
    box-sizing: border-box; 
}

.form-seccion { 
    box-sizing: border-box;
    width: 400px;
    margin-left: 390px; 
    padding-top: 70px;
    
}

.form-input {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: 400px;
}

/* ------------------------------------- */


/* --ESTILOS DE PAGINA CONTACTO 2-- */

.contenedor {
    height: 100vh;
    width: auto;
    box-sizing: border-box;
}

.form-contacto2 {
    background-color: rgb(0, 130, 130);
    height: 350px;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    padding:20px;
    border-radius: 7px;

}
.texto-contacto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    max-width: 100%;
}

.boton-form {
    background-color:rgb(2, 66, 66);
    color: white;
}
.boton-form:hover {
    cursor: pointer;
    background-color:rgb(2, 104, 104);
}
/* ------------------------------------- */